<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Forget Password</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <p><a href="<%= reset_password_link %>">Click</a> for email verification.</p>
  </body>
</html>
